.recent {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.links {
  color: #ff6262;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.links:hover {
  color: #e74f4f;
}

.profilereview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}
