.AddReview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 24px;
}
.css-sws92j-JoyTextarea-textarea {
  width: 80%;
}
textarea {
  width: 85%;
  height: 80%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 12px;
}
.errorSpanNoLabel {
  color: #ff3f3f !important;
  text-align: center !important;
  font-size: 11.5px !important;
  font-weight: 500 !important;
  margin-top: 8px !important;
}
.ratingMarginBottom {
  margin-bottom: 10px !important;
  margin-top: 0px !important;
}
.ratingMarginTop {
  margin-top: 10px;
  margin-bottom: 5px !important;
}
.allErrMarginBottom {
  position: absolute;
  bottom: -11px;
  transform: translate(65%, 0%);
}

.reviewField:has(.allErrMarginBottom) {
  margin-bottom: 20px;
}
