.editfields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  row-gap: 20px;
}

.editbuttons {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  border: 1px;
}

.fields {
  width: 600px;
}
