* {
  font-family: "Poppins", sans-serif !important;
}

.css-gadse4-MuiPaper-root-MuiGrid-root {
  /* areabackground */
  background-color: #fdefc7 !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  /* input fields */
  background-color: #f0f0f0 !important;
  border-radius: 24px;
}
.welcome {
  font-size: 28px;
  font-weight: bold;
}
.subtext {
  font-size: 12px;
  font-weight: bold;
}
.css-1jrn2fe-MuiGrid-root {
  height: 90% !important;
}
