.myreviewcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-top: 30px;
}
.bod {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
