.holder {
  margin: 6%;
  margin-top: 50px;
  padding-top: 30px;
  position: relative;
}
.palengekeTopButtons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
}
.details {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: space-between;
}
.actionDropdownCont {
  margin-top: 35px;
  justify-content: space-between;
}
.Marketimg {
  border-radius: 12px;
  width: 500px;
  object-fit: cover;
}
.welcome {
  font-size: 48px;
  font-weight: bold;
}
.palengkeNameTitle {
  line-height: 1.3;
  overflow-wrap: anywhere;
  margin-right: 15px;
}
.ratingContBig {
  font-size: 24px;
  padding-left: 6px;
  padding-right: 8px;
  margin-top: 8px;
  border-radius: 6px;
  font-weight: bold;
  color: rgb(252, 252, 252);
  background-color: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}
.noRatingContPalengke {
  font-size: 15px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6px;
  justify-content: center;
  align-items: center;
}
.namerate {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  height: fit-content;
}

.more {
  margin-top: 24px;
  color: #ff6262;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-wrap: nowrap;
}

.more:hover {
  margin-top: 24px;
  color: #e74f4f;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-wrap: nowrap;
}

.fifty {
  text-align: start;
  width: 50%;
}

h1 {
  text-wrap: nowrap;
}

.head {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.palengkeStatusPill {
  display: block;
  width: fit-content;
  color: white;
  font-size: 15px;
  padding: 3px 15px 3px 15px;
  border-radius: 20px;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 15px;
}

.address {
  display: inline-block;
  width: 100%;
}

.addressIconMargin {
  margin-right: 10px;
}

.locationBig {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  color: #fd7335 !important;
  margin-top: 2px;
  margin-bottom: 3px;
}
.content {
  margin-left: 36px;
  position: relative;
}

.desc {
  margin-top: 12px;
  width: 90%;
  font-size: 16px;
  text-align: justify;
}

.subtext {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
}
/* Style the dropdown button */
.dropdown {
  width: 270px !important;
}
.dropbtn {
  background-color: #ffffff;
  color: rgb(14, 14, 14);
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  border: black solid 1px;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.css-1qdzy9k-MuiBarElement-root {
  fill: #fac817 !important;
}
.rev {
  margin-left: 25%;
  display: flex;
  width: 100%;
  transform: translate(0%, -7%);
}
.barChartContainer {
  width: 100%;
  height: 100%;
  max-width: 100%; /* Ensure it doesn't exceed parent width */
  max-height: 400px; /* Adjust this as needed */
}
.barChart {
  display: flex !important;
}
.menuEdit {
  position: absolute !important;
  transform: translate(40%, 0%);
}
.muiIconReview {
  color: #e74f4f !important;
  margin-right: 10px;
  font-size: 20px !important;
}
.Reviews {
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 15px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Overview {
  margin-top: 4px;
  background-color: #ffffff;
  padding: 24px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.indiv {
  width: 95%;
}
.name {
  font-size: 16px;
  font-weight: bold;
}

.editedSpan {
  color: #636363;
  margin-left: 10px;
  font-size: 12px;
}

.twolines {
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.oneline {
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.profileAndUsername {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.profileAndUsername span {
  margin-left: 10px;
}

.edit {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.ratingSpacing {
  right: 0;
  position: absolute;
}
.titleGridMargin2 {
  margin-right: 130px !important;
}
.titleGridMargin1 {
  margin-right: 110px !important;
}

.palengekeNameReview {
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left !important;
}

@media screen and (max-width: 1146px) {
  .address {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .ratingSpacing {
    right: unset;
    position: relative;
    margin-top: -10px !important;
    padding-top: 0 !important;
  }
  .palengkeStatusPill {
    margin-top: -33px;
    left: 120px;
    /* 120 */
    position: absolute;
  }
  .ratingContBig {
    font-size: 22px;
    margin-top: 0px;
  }
  .desc {
    font-size: 15px;
  }
  .address {
    margin-top: 10px;
  }
  .palengkeNameTitle {
    width: 100%;
  }
  .titleGrid {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 720px) {
  .Marketimg {
    width: 100%;
  }
  .rev {
    margin-left: 5%;
  }
  .actionDropdownCont {
    justify-content: center;
    margin-top: 20px;
  }
  .dropdown,
  .addReviewCont {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .address {
    font-size: 15px;
  }
  .palengkeStatusPill {
    font-size: 13px;
  }
  .details {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }
  .Overview {
    flex-direction: column;
  }
  .Overview .rev {
    margin: 0;
  }
  .head {
    flex-direction: column;
  }
  .head h1 {
    margin-bottom: 0;
  }
  .head .more {
    text-align: left;
    margin-top: 0;
  }
}
